In [4]:
import pandas as pd

## Create A `Series` Object from A Python List

In [3]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

In [4]:
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [5]:
lottery = [4, 8, 15, 16, 23, 42]

In [6]:
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
registrations = [True, False, False, False, True]

In [8]:
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Create A `Series` Object from a Dictionary

In [9]:
webster = {
    "Aardvark": "An animal",
    "Banana": "A delicious fruit",
    "Cyan": "A color"
}

In [10]:
pd.Series(webster)

Aardvark            An animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

## Intro to Attributes

In [11]:
about_me = ["Smart", "Handsome", "Charming", "Brilliant", "Humble"]

In [12]:
series_about_me = pd.Series(about_me)

In [13]:
series_about_me

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [14]:
series_about_me.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [15]:
series_about_me.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
series_about_me.dtype

dtype('O')

## Intro to Methods

In [30]:
prices = [3.00, 8.00, 10.00]
series_prices = pd.Series(prices)
series_prices

0     3.0
1     8.0
2    10.0
dtype: float64

In [31]:
series_prices.sum()

21.0

In [32]:
series_prices.product()

240.0

In [33]:
series_prices.mean()

7.0

## Parameters and Arguments

In [34]:
# Difficulty - Easy, Medium, Hard
# Volume - 1 through 10
# Subtitles - True / False

In [36]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

In [37]:
pd.Series(fruits, weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [38]:
pd.Series(data=fruits, index=weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [39]:
pd.Series(fruits, index=weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [41]:
pd.Series(data=weekdays, index=fruits)

Apple           Monday
Orange         Tuesday
Plum         Wednesday
Grape         Thursday
Blueberry       Friday
dtype: object

# comida_deliciosa

In [25]:
foods = ["French Fries", "Chicken Nuggets", "Celery", "Carrots"]
dipping_sauces = ["BBQ", "Honey Mustard", "Ranch", "Sriracha"]

In [26]:
# Create a Series and assign it to the s1 variable below. 
# Assign the foods list as the data source
# and the dipping_sauces list as the Series index 
# For this solution, use positional arguments (i.e. feed in the arguments sequentially)
s1 = pd.Series(foods, dipping_sauces)
s1

BBQ                 French Fries
Honey Mustard    Chicken Nuggets
Ranch                     Celery
Sriracha                 Carrots
dtype: object

In [27]:
# Create a Series and assign it to the s2 variable below. 
# Assign the dipping_sauces list as the data source
# and the foods list as the Series index 
# For this solution, use keyword arguments (i.e. provide the parameter names
# alongside the arguments)
s2 = pd.Series(data=dipping_sauces, index=foods)
s2

French Fries                 BBQ
Chicken Nuggets    Honey Mustard
Celery                     Ranch
Carrots                 Sriracha
dtype: object

# Importando una serie desde un CSV

In [11]:
pokemon = pd.read_csv("data/pokemon.csv", usecols=["Pokemon"]).squeeze("columns")
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [13]:
google = pd.read_csv("data/google_stock_price.csv", usecols=["Stock Price"]).squeeze()
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# Importando Alimentos

In [18]:
# We have a foods.csv CSV file with 3 columns: Item Number, Menu Item, Price
# You can explore the data by clicking into the foods.csv file on the left
# Import the CSV file into a pandas Series object
# The Series should have the standard pandas numeric index
# The Series values should be the string values from the "Menu Item" column
# Assign the Series object to a "foods" variable
foods = pd.read_csv("datax/foods.csv", usecols=["Menu Item"]).squeeze()
foods

0            Big Mac
1          McNuggets
2    Quarter Pounder
Name: Menu Item, dtype: object

# Montañas rusas

In [20]:
# We have a roller_coasters.csv CSV file with 4 columns: Name, Park, Country, and Height.
# You can explore the data by clicking into the CSV file on the left
# Import the CSV file into a pandas Series object
# The Series should have the standard pandas numeric index
# The Series values should be the string values from the "Name" column
# Assign the Series object to a "coasters" variable
coasters = pd.read_csv("datax/roller_coasters.csv", usecols=["Name"]).squeeze()
coasters

0                        Kingda Ka
1              Top Thrill Dragster
2    Superman: Escape from Krypton
3                        Red Force
4                         Fury 325
5                Steel Dragon 2000
6                 Millennium Force
7                        Leviathan
8                  Intimidator 305
9                            Orion
Name: Name, dtype: object

In [21]:
# I only want to ride the top 3 roller coasters on the list.
# Starting with the "coasters" Series, extract the first 3 rows in a new Series.
# Assign the new Series to a "top_three" variable.
top_three = coasters.head(3)
top_three

0                        Kingda Ka
1              Top Thrill Dragster
2    Superman: Escape from Krypton
Name: Name, dtype: object

In [22]:
# I'm now curious about some of the last entries on the coaster list.
# Starting with the "coasters" Series, extract the last 4 rows in a new Series.
# Assign the new Series to a "bottom_four" variable.
bottom_four = coasters.tail(4)
bottom_four

6    Millennium Force
7           Leviathan
8     Intimidator 305
9               Orion
Name: Name, dtype: object

# 52. The sort_values Method

In [28]:
pokemon = pd.read_csv("data/pokemon.csv", usecols=["Pokemon"]).squeeze("columns")
google = pd.read_csv("data/google_stock_price.csv", usecols=["Stock Price"]).squeeze()

In [30]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [32]:
pokemon.sort_values(ascending=False).head(4)

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
Name: Pokemon, dtype: object

In [33]:
google.sort_values()

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [34]:
google.sort_values(ascending=False)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

# Delicious tortilla

In [35]:
# Below, we have a list of delicious tortilla chip flavors
flavors = ["Spicy Sweet Chili", "Cool Ranch", "Nacho Cheese", "Salsa Verde"]

# Create a new Series object, passing in the flavors list defined above
# Assign it to a 'doritos' variable. The resulting Series should look like this:
#
#
#   0    Spicy Sweet Chili
#   1           Cool Ranch
#   2         Nacho Cheese
#   3          Salsa Verde
#   dtype: object
doritos = pd.Series(flavors)
doritos

0    Spicy Sweet Chili
1           Cool Ranch
2         Nacho Cheese
3          Salsa Verde
dtype: object

In [36]:
# Below, sort the doritos Series in descending order.
# Assign the sorted a Series to a 'sorted_doritos' variable.
# The sorted Series should like this:
#
#   0    Spicy Sweet Chili
#   3          Salsa Verde
#   2         Nacho Cheese
#   1           Cool Ranch
#   dtype: object
sorted_doritos = doritos.sort_values(ascending=False)
sorted_doritos

0    Spicy Sweet Chili
3          Salsa Verde
2         Nacho Cheese
1           Cool Ranch
dtype: object