# Proyecto #2 - Seleccionando Filas y Columnas de un Dataset de Clínicas

In [1]:
import pandas as pd

In [2]:
df_clinicas = pd.read_csv("datax/clinicas.csv")
df_clinicas

       Mes  Clinica_Este  Clinica_Norte  Clinica_Sur  Clinica_Oeste
0    Enero           100            100           23            100
1  Febrero            51             45          145             45
2    Marzo            81             96           65             96
3    Abril            80             80           54            180
4     Mayo            51             54           54            154
5    Junio           112            109           79            129

##### 1. Queremos analizar qué sucede con la clínica Norte. Crearemos una variable que se llame clinica_norte que contenga solo los datos de la columna Clinica_Norte. Imprime su contenido.

In [3]:
clinica_norte = df_clinicas["Clinica_Norte"]
clinica_norte

0    100
1     45
2     96
3     80
4     54
5    109
Name: Clinica_Norte, dtype: int64

##### 2. Ahora queremos comparar las visitas de la clínica norte con la del sur. Crearemos una variable que se llame clinicas_norte_sur que contenga solo las columnas de Clinica_Norte y Clinica_Sur.
Mostrar el resultado.

In [4]:
clinicas_norte_sur = df_clinicas[["Clinica_Norte", "Clinica_Sur"]]
clinicas_norte_sur

   Clinica_Norte  Clinica_Sur
0            100           23
1             45          145
2             96           65
3             80           54
4             54           54
5            109           79

##### 3. Queremos saber cuántas visitas tuvieron lugar en marzo del año pasado. Escribe la instrucción que devuelva los datos de marzo de las 4 clínicas y guardarla en la variable marzo. 
Mostrar el resultado.

In [5]:
marzo = df_clinicas.iloc[2]
marzo

Mes              Marzo
Clinica_Este        81
Clinica_Norte       96
Clinica_Sur         65
Clinica_Oeste       96
Name: 2, dtype: object

##### 4. Uno de los doctores cree que hay más visitas a la clínica finalizando primavera. Escribe la instrucción que produzca un DataFrame con los datos de abril, mayo y junio para todas las sedes de la clínica (filas de la 3 a la 6). Guardar la salida en una variable que se llame abril_mayo_junio. 
Mostrar el resultado.

In [6]:
abril_mayo_junio = df_clinicas.iloc[3:7]
abril_mayo_junio

     Mes  Clinica_Este  Clinica_Norte  Clinica_Sur  Clinica_Oeste
3  Abril            80             80           54            180
4   Mayo            51             54           54            154
5  Junio           112            109           79            129

##### 5. Ahora queremos saber cuántas visitas se tuvieron en enero del año pasado. Crea una variable que se llame enero usando una sentencia lógica que selecciones la fila donde mes sea Enero. 
Mostrar el resultado.

In [7]:
enero = df_clinicas[df_clinicas["Mes"] == "Enero"]
enero

     Mes  Clinica_Este  Clinica_Norte  Clinica_Sur  Clinica_Oeste
0  Enero           100            100           23            100

##### 6. Queremos ver cómo el número de visitas ha cambiado entre marzo y abril. Crea una variable que se llame marzo_abril que contenga los datos de marzo y abril. Haz esto usando dos sentencias lógicas combinadas usando | (que significa OR). 
Mostrar el resultado.

In [8]:
marzo_abril = df_clinicas[(df_clinicas["Mes"] == "Marzo") | (df_clinicas["Mes"] == "Abril")]
marzo_abril

     Mes  Clinica_Este  Clinica_Norte  Clinica_Sur  Clinica_Oeste
2  Marzo            81             96           65             96
3  Abril            80             80           54            180

In [9]:
##### 7. Examina el siguiente código:

#df2 = df_clinicas.loc[[1, 3, 5]]

#¿Qué es lo que imprime df2?

In [10]:
df2 = df_clinicas.loc[[1, 3, 5]]
df2

       Mes  Clinica_Este  Clinica_Norte  Clinica_Sur  Clinica_Oeste
1  Febrero            51             45          145             45
3    Abril            80             80           54            180
5    Junio           112            109           79            129

##### 8. Crea un nuevo dataframe que se llame df3 reseteando los índices de df2 (no uses inplace o drop). ¿Cuáles son las diferencias entre df2 y df3?

In [13]:
df3 = df2.reset_index()
df3

   index      Mes  Clinica_Este  Clinica_Norte  Clinica_Sur  Clinica_Oeste
0      1  Febrero            51             45          145             45
1      3    Abril            80             80           54            180
2      5    Junio           112            109           79            129

##### 9. Crea un nuevo dataframe que se llame df4 reseteando los índices de df2 (usa drop=True). ¿Cuáles son las diferencias entre df2 y df4?

In [14]:
df4 = df2.reset_index(drop=True)
df4

       Mes  Clinica_Este  Clinica_Norte  Clinica_Sur  Clinica_Oeste
0  Febrero            51             45          145             45
1    Abril            80             80           54            180
2    Junio           112            109           79            129