In [1]:
import pandas as pd

In [6]:
df_clinicas = pd.read_csv("datax/clinicas.csv")
print(df_clinicas)

       Mes  Clinica_Este  Clinica_Norte  Clinica_Sur  Clinica_Oeste
0    Enero           100            100           23            100
1  Febrero            51             45          145             45
2    Marzo            81             96           65             96
3    Abril            80             80           54            180
4     Mayo            51             54           54            154
5    Junio           112            109           79            129

In [2]:

clinica_norte = df_clinicas["Clinica_Norte"]
clinica_norte

0    100
1     45
2     96
3     80
4     54
5    109
Name: Clinica_Norte, dtype: int64

In [3]:
clinicas_norte_sur = df_clinicas[["Clinica_Norte", "Clinica_Sur"]]
clinicas_norte_sur

   Clinica_Norte  Clinica_Sur
0            100           23
1             45          145
2             96           65
3             80           54
4             54           54
5            109           79

In [5]:
df2 = df_clinicas.loc[[1, 3, 5]]
df2

       Mes  Clinica_Este  Clinica_Norte  Clinica_Sur  Clinica_Oeste
1  Febrero            51             45          145             45
3    Abril            80             80           54            180
5    Junio           112            109           79            129