# Convertir un diccionario en un Dataframe

In [1]:
import pandas as pd

In [2]:
city_data = {
    "City": ["New York City", "Paris", "Barcelona", "Rome"],
    "Country": ["United States", "France", "Spain", "Italy"],
    "Population": [8600000, 2141000, 5515000, 2873000]
}

In [3]:
cities = pd.DataFrame(city_data)
cities

            City        Country  Population
0  New York City  United States     8600000
1          Paris         France     2141000
2      Barcelona          Spain     5515000
3           Rome          Italy     2873000

In [4]:
# Mostrar el contenido de un rengl√≥n
cities.loc[0]

City          New York City
Country       United States
Population          8600000
Name: 0, dtype: object