# Usando un dataset de ferreteria y aplicando Lambdas

In [1]:
import pandas as pd

In [2]:
df_ferreteria = pd.read_csv('datax/inventario_ferreteria.csv')
df_ferreteria

   id producto         nombre  costo fabricacion  venta
0            1     Clavos 1/2                0.5    0.6
1            2       Martillo              200.0  300.0
2            3       Serrucho              300.0  400.0
3            4  Tornillos 1/4                0.6    0.8
4            5          Pilas               25.0   30.0

A침ade una columna llamada **Al Por Mayor?** que indica si el producto fue vendido al por mayor o individualmente

In [4]:
df_ferreteria["Al Por Mayor"] = ["Yes", "Yes", "No", "No", "No"]
df_ferreteria

   id producto         nombre  costo fabricacion  venta Al Por Mayor
0            1     Clavos 1/2                0.5    0.6          Yes
1            2       Martillo              200.0  300.0          Yes
2            3       Serrucho              300.0  400.0           No
3            4  Tornillos 1/4                0.6    0.8           No
4            5          Pilas               25.0   30.0           No

A침ade una columna llamada ***tiene impuestos*** que indica si el producto tiene impuesto a las ventas. Debe ser Si para todas las filas

In [6]:
df_ferreteria["tiene impuestos"] = "Si"
df_ferreteria

,id producto,nombre,costo fabricacion,venta,Al Por Mayor,tiene impuestos
0,1,Clavos 1/2,0.5,0.6,Yes,Si
1,2,Martillo,200.0,300.0,Yes,Si
2,3,Serrucho,300.0,400.0,No,Si
3,4,Tornillos 1/4,0.6,0.8,No,Si
4,5,Pilas,25.0,30.0,No,Si

A침ade una columna llamada ganancia la cual es igual a la diferencia entre Precio y Costo de fabricaci칩n

In [8]:
df_ferreteria["Ganancia"] = df_ferreteria["venta"] - df_ferreteria["costo fabricacion"]
df_ferreteria

,id producto,nombre,costo fabricacion,venta,Al Por Mayor,tiene impuestos,Ganancia
0,1,Clavos 1/2,0.5,0.6,Yes,Si,0.1
1,2,Martillo,200.0,300.0,Yes,Si,100.0
2,3,Serrucho,300.0,400.0,No,Si,100.0
3,4,Tornillos 1/4,0.6,0.8,No,Si,0.2
4,5,Pilas,25.0,30.0,No,Si,5.0

A침ade una columna llamada dos_letras que retorne la primera y la ultima letra del nombre del producto, asumiendo que el string tiene al menos 2 caracteres de largo.
Por ejemplo print(mylambda( 'Martillo')) deberia producir este resultado Mo

In [11]:
df_ferreteria["dos_letras"] = df_ferreteria.apply(
    lambda row: row["nombre"][0] + row["nombre"][-1], axis=1
)
df_ferreteria

,id producto,nombre,costo fabricacion,venta,Al Por Mayor,tiene impuestos,Ganancia,dos_letras
0,1,Clavos 1/2,0.5,0.6,Yes,Si,0.1,C2
1,2,Martillo,200.0,300.0,Yes,Si,100.0,Mo
2,3,Serrucho,300.0,400.0,No,Si,100.0,So
3,4,Tornillos 1/4,0.6,0.8,No,Si,0.2,T4
4,5,Pilas,25.0,30.0,No,Si,5.0,Ps

A침ada una columna que se llame **cobro con impuestos**. Debe aumentar el 10% de impuesto de la venta solo si la columna **tiene impuestos** tiene la leyenda **Si**

In [13]:
df_ferreteria["cobro con impuestos"] = df_ferreteria.apply(
    lambda row: row["venta"] + row["venta"] * (10 / 100), axis=1
)
df_ferreteria

,id producto,nombre,costo fabricacion,venta,Al Por Mayor,tiene impuestos,Ganancia,dos_letras,cobro con impuestos
0,1,Clavos 1/2,0.5,0.6,Yes,Si,0.1,C2,0.66
1,2,Martillo,200.0,300.0,Yes,Si,100.0,Mo,330.00
2,3,Serrucho,300.0,400.0,No,Si,100.0,So,440.00
3,4,Tornillos 1/4,0.6,0.8,No,Si,0.2,T4,0.88
4,5,Pilas,25.0,30.0,No,Si,5.0,Ps,33.00