## Selección y filtrado de películas

In [1]:
import pandas as pd

In [2]:
df_imdb = pd.read_csv("datax/imdb.csv")
df_imdb

,id,nombre,genero,año,calificacion_imdb
0,1,Avatar,action,2009,7.9
1,2,Jurassic World,action,2015,7.3
2,3,The Avengers,action,2012,8.1
3,4,The Dark Knight,action,2008,9.0
4,5,Star Wars: Episode I - The Phantom Menace,action,1999,6.6
...,...,...,...,...,...
215,216,Hannibal,drama,2001,6.7
216,217,Catch Me If You Can,drama,2002,8.0
217,218,Big Daddy,drama,1999,6.4
218,219,Se7en,drama,1995,8.6
219,220,Seven,drama,1979,6.1

In [3]:
df_imdb.head()

,id,nombre,genero,año,calificacion_imdb
0,1,Avatar,action,2009,7.9
1,2,Jurassic World,action,2015,7.3
2,3,The Avengers,action,2012,8.1
3,4,The Dark Knight,action,2008,9.0
4,5,Star Wars: Episode I - The Phantom Menace,action,1999,6.6

In [4]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 220 non-null    int64
 1   nombre             220 non-null    object
 2   genero             220 non-null    object
 3   año                220 non-null    int64
 4   calificacion_imdb  220 non-null    object
dtypes: int64(2), object(3)
memory usage: 8.7+ KB

In [5]:
# Seleccionar la columna año
anio_lanzamiento = df_imdb["año"]
anio_lanzamiento

0      2009
1      2015
2      2012
3      2008
4      1999
       ...
215    2001
216    2002
217    1999
218    1995
219    1979
Name: año, Length: 220, dtype: int64

In [6]:
# Seleccionar la columna nombre
nombre = df_imdb.nombre
nombre

0                                         Avatar
1                                 Jurassic World
2                                   The Avengers
3                                The Dark Knight
4      Star Wars: Episode I - The Phantom Menace
                         ...
215                                     Hannibal
216                          Catch Me If You Can
217                                    Big Daddy
218                                        Se7en
219                                        Seven
Name: nombre, Length: 220, dtype: object

In [7]:
# Seleccionar la columna nombre y año de lanzamiento
nombre_y_anio_lanzamiento = df_imdb[["nombre", "año"]]
nombre_y_anio_lanzamiento

                                        nombre   año
0                                       Avatar  2009
1                               Jurassic World  2015
2                                 The Avengers  2012
3                              The Dark Knight  2008
4    Star Wars: Episode I - The Phantom Menace  1999
..                                         ...   ...
215                                   Hannibal  2001
216                        Catch Me If You Can  2002
217                                  Big Daddy  1999
218                                      Se7en  1995
219                                      Seven  1979

[220 rows x 2 columns]

In [8]:
# Seleccionar el renglón que tiene el índice 2
avengers = df_imdb.iloc[2]
avengers

id                              3
nombre               The Avengers
genero                     action
año                          2012
calificacion_imdb             8.1
Name: 2, dtype: object

In [9]:
# Seleccionar los renglones que van desde el índice 3 hasta la 7
varias_peliculas = df_imdb.iloc[3:8]
varias_peliculas

,id,nombre,genero,año,calificacion_imdb
3,4,The Dark Knight,action,2008,9.0
4,5,Star Wars: Episode I - The Phantom Menace,action,1999,6.6
5,6,Star Wars,action,1977,8.7
6,7,Avengers: Age of Ultron,action,2015,7.9
7,8,The Dark Knight Rises,action,2012,8.5

In [10]:
# Seleccionar los renglones que van desde el índice 0 hasta la 4
varias_peliculas = df_imdb.iloc[:5]
varias_peliculas

,id,nombre,genero,año,calificacion_imdb
0,1,Avatar,action,2009,7.9
1,2,Jurassic World,action,2015,7.3
2,3,The Avengers,action,2012,8.1
3,4,The Dark Knight,action,2008,9.0
4,5,Star Wars: Episode I - The Phantom Menace,action,1999,6.6

In [11]:
# Seleccionar los últimos 3 renglones
varias_peliculas = df_imdb.iloc[-3:]
varias_peliculas

      id     nombre genero   año calificacion_imdb
217  218  Big Daddy  drama  1999               6.4
218  219      Se7en  drama  1995               8.6
219  220      Seven  drama  1979               6.1

In [12]:
# Seleccionar los renglones que van desde el índice 0 hasta el 9, de 3 en 3
varias_peliculas = df_imdb.iloc[0:10:3]
varias_peliculas

   id                   nombre  genero   año calificacion_imdb
0   1                   Avatar  action  2009               7.9
3   4          The Dark Knight  action  2008               9.0
6   7  Avengers: Age of Ultron  action  2015               7.9
9  10               Iron Man 3  action  2013               7.3

In [13]:
# Seleccionar los renglones cuyo genero sea de horror
pd.options.display.max_columns = None
peliculas_horror = df_imdb[df_imdb["genero"] == "horror"]
peliculas_horror

,id,nombre,genero,año,calificacion_imdb
97,98,World War Z,horror,2013,7.0
98,99,What Lies Beneath,horror,2000,6.6
99,100,Gremlins,horror,1984,7.2
100,101,The Blair Witch Project,horror,1999,6.4
101,102,The Conjuring,horror,2013,7.5
102,103,The Ring,horror,2002,7.1
103,104,The Grudge,horror,2004,5.9
104,105,Paranormal Activity,horror,2007,6.3
105,106,Interview with the Vampire: The Vampire Chroni...,horror,1994,7.6
106,107,Paranormal Activity 3,horror,2011,5.9
107,108,Scream,horror,1996,7.2
108,109,Jaws 2,horror,1978,5.7
109,110,Scream 2,horror,1997,6.1
110,111,Sleepy Hollow,horror,1999,7.4
111,112,The Others,horror,2001,7.6
112,113,The Haunting,horror,1999,4.9
113,114,Scream 3,horror,2000,5.5
114,115,Saw II,horror,2005,6.6
115,116,The Amityville Horror,horror,1979,6.2
116,117,Aliens,horror,1986,8.4
117,118,Paranormal Activity 2,horror,2010,5.7
118,119,Annabelle,horror,2014,5.4
119,120,Scooby-Doo 2: Monsters Unleashed,horror,2004,4.9
120,121,Insidious: Chapter 2,horror,2013,6.6
121,122,Dracula,horror,1992,7.5
122,123,Freddy vs. Jason,horror,2003,5.8
123,124,Blade II,horror,2002,6.7
124,125,Saw III,horror,2006,6.2
125,126,The Texas Chainsaw Massacre,horror,2003,6.2
126,127,Cloverfield,horror,2008,7.1
127,128,Dark Shadows,horror,2012,6.2
128,129,The Ring Two,horror,2005,5.4
129,130,Zombieland,horror,2009,7.7
130,131,Constantine,horror,2005,6.9
131,132,The Exorcism of Emily Rose,horror,2005,6.7
132,133,I Know What You Did Last Summer,horror,1997,5.6
133,134,1408,horror,2007,6.8
134,135,Mama,horror,2013,6.2
135,136,The Purge: Anarchy,horror,2014,6.5
136,137,Scary Movie 2,horror,2001,5.2
137,138,Blade,horror,1998,7.1
138,139,End of Days,horror,1999,5.7
139,140,The Forgotten,horror,2004,5.8
140,141,The Final Destination,horror,2009,5.2
141,142,Warm Bodies,horror,2013,6.9
142,143,Anaconda,horror,1997,4.6
143,144,Wolf,horror,1994,6.2
144,145,Friday the 13th,horror,2009,5.6
145,146,The Purge,horror,2013,5.6

In [14]:
# Seleccionar los renglones cuyo año sea mayor que 2013
pd.options.display.max_columns = None
peliculas_despues_2013 = df_imdb[df_imdb["año"] > 2013]
peliculas_despues_2013

      id                               nombre   genero   año calificacion_imdb
1      2                       Jurassic World   action  2015               7.3
6      7              Avengers: Age of Ultron   action  2015               7.9
15    16                      American Sniper   action  2014               7.4
16    17                        Furious Seven   action  2015               7.4
18    19              Guardians of the Galaxy   action  2014               8.1
35    36  Captain America: The Winter Soldier   action  2014               7.8
36    37                       The Lego Movie   action  2014               7.8
40    41      Transformers: Age of Extinction   action  2014               5.8
42    43                           Maleficent   action  2014               7.0
47    48           X-Men: Days of Future Past   action  2014               8.1
55    56                           Inside Out   comedy  2015               8.6
57    58                              Minions   comedy  2015               6.7
77    78                           Big Hero 6   comedy  2014               7.9
118  119                            Annabelle   horror  2014               5.4
135  136                   The Purge: Anarchy   horror  2014               6.5
155  156                           Cinderella  romance  2015               7.1
170  171                 Fifty Shades of Grey  romance  2015               4.2
199  200       Dawn of the Planet of the Apes    drama  2014               7.7
200  201                         Interstellar    drama  2014               8.7
213  214                            Gone Girl    drama  2014               8.2

In [15]:
# Seleccionar los renglones cuyo género no sea de romance
pd.options.display.max_columns = None
peliculas_no_romance = df_imdb[df_imdb["genero"] != "romance"]
peliculas_no_romance

,id,nombre,genero,año,calificacion_imdb
0,1,Avatar,action,2009,7.9
1,2,Jurassic World,action,2015,7.3
2,3,The Avengers,action,2012,8.1
3,4,The Dark Knight,action,2008,9.0
4,5,Star Wars: Episode I - The Phantom Menace,action,1999,6.6
...,...,...,...,...,...
215,216,Hannibal,drama,2001,6.7
216,217,Catch Me If You Can,drama,2002,8.0
217,218,Big Daddy,drama,1999,6.4
218,219,Se7en,drama,1995,8.6
219,220,Seven,drama,1979,6.1

In [16]:
# Seleccionar los renglones cuyo género sea de comedia o que hayan salido después de 2014
peliculas_comedia_o_despues_2014 = df_imdb[(df_imdb["genero"] == "comedy") | (df_imdb["año"] > 2014)]
peliculas_comedia_o_despues_2014

,id,nombre,genero,año,calificacion_imdb
1,2,Jurassic World,action,2015,7.3
6,7,Avengers: Age of Ultron,action,2015,7.9
16,17,Furious Seven,action,2015,7.4
50,51,Shrek 2,comedy,2004,7.2
51,52,Toy Story 3,comedy,2010,8.4
52,53,Frozen,comedy,2013,7.6
53,54,Finding Nemo,comedy,2003,8.2
54,55,Despicable Me 2,comedy,2013,7.5
55,56,Inside Out,comedy,2015,8.6
56,57,Shrek the Third,comedy,2007,6.0
57,58,Minions,comedy,2015,6.7
58,59,Up,comedy,2009,8.3
59,60,"Monsters, Inc.",comedy,2001,8.1
60,61,Home Alone,comedy,1990,7.4
61,62,Meet the Fockers,comedy,2004,6.3
62,63,The Hangover,comedy,2009,7.8
63,64,Monsters University,comedy,2013,7.4
64,65,Shrek,comedy,2001,7.9
65,66,How the Grinch Stole Christmas,comedy,2000,6.0
66,67,The Hangover Part II,comedy,2011,6.5
67,68,Despicable Me,comedy,2010,7.7
68,69,Men in Black,comedy,1997,7.2
69,70,Toy Story 2,comedy,1999,7.9
70,71,Cars,comedy,2006,7.2
71,72,Bruce Almighty,comedy,2003,6.7
72,73,My Big Fat Greek Wedding,comedy,2002,6.6
73,74,Shrek Forever After,comedy,2010,6.4
74,75,Brave,comedy,2012,7.2
75,76,Ghostbusters,comedy,1984,7.8
76,77,Rush Hour 2,comedy,2001,6.6
77,78,Big Hero 6,comedy,2014,7.9
78,79,Alvin and the Chipmunks: The Squeakquel,comedy,2009,4.4
79,80,Mrs. Doubtfire,comedy,1993,6.9
80,81,Ted,comedy,2012,7.0
81,82,Aladdin,comedy,1992,8.0
82,83,Alvin and the Chipmunks,comedy,2007,5.3
83,84,Madagascar 3: Europes Most Wanted,comedy,2012,7.0
84,85,Kung Fu Panda,comedy,2008,7.6
85,86,The Lorax,comedy,2012,6.5
86,87,Austin Powers in Goldmember,comedy,2002,6.2
87,88,Back to the Future,comedy,1985,8.5
88,89,Wedding Crashers,comedy,2005,7.0
89,90,Charlie and the Chocolate Factory,comedy,2005,6.7
90,91,Ratatouille,comedy,2007,8.0
91,92,Austin Powers: The Spy Who Shagged Me,comedy,1999,6.6
92,93,Tangled,comedy,2010,7.8
93,94,Monsters vs. Aliens,comedy,2009,6.6
94,95,Happy Feet,comedy,2006,6.5
95,96,Ice Age: Dawn of the Dinosaurs,comedy,2009,7.0
96,97,Ice Age: The Meltdown,comedy,2006,6.9
155,156,Cinderella,romance,2015,7.1
170,171,Fifty Shades of Grey,romance,2015,4.2

In [17]:
# Seleccionar los renglones cuyo género sea de comedia o que hayan salido después de 2014
condicion_comedia = df_imdb["genero"] == "comedy"
condicion_despues_2104 = df_imdb["año"] > 2014
condicion_comedia_despues_2104 = (condicion_comedia) | (condicion_despues_2104)
peliculas_comedia_o_despues_2014 = df_imdb[condicion_comedia_despues_2104]
columnas = ["nombre", "genero", "año"]
peliculas_comedia_o_despues_2014[columnas]

                                      nombre   genero   año
1                             Jurassic World   action  2015
6                    Avengers: Age of Ultron   action  2015
16                             Furious Seven   action  2015
50                                   Shrek 2   comedy  2004
51                               Toy Story 3   comedy  2010
52                                    Frozen   comedy  2013
53                              Finding Nemo   comedy  2003
54                           Despicable Me 2   comedy  2013
55                                Inside Out   comedy  2015
56                           Shrek the Third   comedy  2007
57                                   Minions   comedy  2015
58                                        Up   comedy  2009
59                            Monsters, Inc.   comedy  2001
60                                Home Alone   comedy  1990
61                          Meet the Fockers   comedy  2004
62                              The Hangover   comedy  2009
63                       Monsters University   comedy  2013
64                                     Shrek   comedy  2001
65            How the Grinch Stole Christmas   comedy  2000
66                      The Hangover Part II   comedy  2011
67                             Despicable Me   comedy  2010
68                              Men in Black   comedy  1997
69                               Toy Story 2   comedy  1999
70                                      Cars   comedy  2006
71                            Bruce Almighty   comedy  2003
72                  My Big Fat Greek Wedding   comedy  2002
73                       Shrek Forever After   comedy  2010
74                                     Brave   comedy  2012
75                              Ghostbusters   comedy  1984
76                               Rush Hour 2   comedy  2001
77                                Big Hero 6   comedy  2014
78   Alvin and the Chipmunks: The Squeakquel   comedy  2009
79                            Mrs. Doubtfire   comedy  1993
80                                       Ted   comedy  2012
81                                   Aladdin   comedy  1992
82                   Alvin and the Chipmunks   comedy  2007
83         Madagascar 3: Europes Most Wanted   comedy  2012
84                             Kung Fu Panda   comedy  2008
85                                 The Lorax   comedy  2012
86               Austin Powers in Goldmember   comedy  2002
87                        Back to the Future   comedy  1985
88                          Wedding Crashers   comedy  2005
89         Charlie and the Chocolate Factory   comedy  2005
90                               Ratatouille   comedy  2007
91     Austin Powers: The Spy Who Shagged Me   comedy  1999
92                                   Tangled   comedy  2010
93                       Monsters vs. Aliens   comedy  2009
94                                Happy Feet   comedy  2006
95            Ice Age: Dawn of the Dinosaurs   comedy  2009
96                     Ice Age: The Meltdown   comedy  2006
155                               Cinderella  romance  2015
170                     Fifty Shades of Grey  romance  2015

In [18]:
# Seleccionar los renglones cuyo género sea de drama y que hayan salido después de 2013
peliculas_drama_despues_2013 = df_imdb[(df_imdb["genero"] == "drama") & (df_imdb["año"] > 2013)]
peliculas_drama_despues_2013

      id                          nombre genero   año calificacion_imdb
199  200  Dawn of the Planet of the Apes  drama  2014               7.7
200  201                    Interstellar  drama  2014               8.7
213  214                       Gone Girl  drama  2014               8.2

In [19]:
# Seleccionar determinadas películas
mi_seleccion = df_imdb[df_imdb["nombre"].isin(["Star Wars", "Dark Shadows", "Blade"])]
mi_seleccion

      id        nombre  genero   año calificacion_imdb
5      6     Star Wars  action  1977               8.7
127  128  Dark Shadows  horror  2012               6.2
137  138         Blade  horror  1998               7.1

In [20]:
# Resetear los índices
mi_seleccion = mi_seleccion.reset_index(drop=True)
mi_seleccion

    id        nombre  genero   año calificacion_imdb
0    6     Star Wars  action  1977               8.7
1  128  Dark Shadows  horror  2012               6.2
2  138         Blade  horror  1998               7.1