In [1]:
import pandas as pd

In [2]:
df_movies = pd.read_csv("datax/imdb.csv")
df_movies.head()

,id,nombre,genero,año,calificacion_imdb
0,1,Avatar,action,2009,7.9
1,2,Jurassic World,action,2015,7.3
2,3,The Avengers,action,2012,8.1
3,4,The Dark Knight,action,2008,9.0
4,5,Star Wars: Episode I - The Phantom Menace,action,1999,6.6

In [3]:
df_movies.año.median()

2005.5

In [4]:
df_movies.año.nunique() # Número de valores únicos

42

In [5]:
df_movies.año.unique() # Muestra los valores únicos

array([2009, 2015, 2012, 2008, 1999, 1977, 2006, 2013, 2002, 2005, 2004,
       2011, 2014, 2007, 2010, 1983, 1996, 2003, 1980, 1989, 1984, 1997,
       2001, 1990, 2000, 1993, 1992, 1985, 1994, 1978, 1979, 1986, 1998,
       1991, 1939, 1937, 1982, 1965, 1995, 1975, 1988, 1987])

In [7]:
df_movies.calificacion_imdb.value_counts()

7.2     11
7.1     11
6.7     11
6.4     10
8.0     10
6.2     10
6.6      9
7.3      9
7.7      9
6.9      8
8.1      8
7.8      8
7.6      7
7.0      7
7.4      7
6.5      6
7.9      6
8.2      5
5.8      4
5.6      4
7.5      4
6.8      4
4.9      4
8.5      4
6.0      4
6.3      4
5.2      3
5.5      3
8.6      3
8.8      3
5.4      3
5.9      3
5.7      3
8.4      3
8.7      2
4.6      2
6.1      2
8.3      1
5.3      1
4.4      1
9.0      1
7.3v     1
4.2      1
Name: calificacion_imdb, dtype: int64