In [1]:
# Modificando el formato de una columna

In [2]:
import pandas as pd

In [3]:
df_inventario = pd.read_csv("datax/inventario_ferreteria.csv")

In [4]:
df_inventario

   id producto         nombre  costo fabricacion  venta
0            1     Clavos 1/2                0.5    0.6
1            2       Martillo              200.0  300.0
2            3       Serrucho              300.0  400.0
3            4  Tornillos 1/4                0.6    0.8
4            5          Pilas               25.0   30.0

In [5]:
df_inventario["nombre"]= df_inventario["nombre"].str.upper()

In [6]:
df_inventario

   id producto         nombre  costo fabricacion  venta
0            1     CLAVOS 1/2                0.5    0.6
1            2       MARTILLO              200.0  300.0
2            3       SERRUCHO              300.0  400.0
3            4  TORNILLOS 1/4                0.6    0.8
4            5          PILAS               25.0   30.0