# Modificando dataframes: el formato de una columna

In [13]:
import pandas as pd

In [14]:
df_inventario = pd.read_csv("datax/inventario_ferreteria.csv")
df_inventario

   id producto         nombre  costo fabricacion  venta
0            1     Clavos 1/2                0.5    0.6
1            2       Martillo              200.0  300.0
2            3       Serrucho              300.0  400.0
3            4  Tornillos 1/4                0.6    0.8
4            5          Pilas               25.0   30.0

In [15]:
# Todo el contenido de la columna nombre se convierte a mayúsculas
df_inventario["nombre"] = df_inventario["nombre"].str.upper()
df_inventario

   id producto         nombre  costo fabricacion  venta
0            1     CLAVOS 1/2                0.5    0.6
1            2       MARTILLO              200.0  300.0
2            3       SERRUCHO              300.0  400.0
3            4  TORNILLOS 1/4                0.6    0.8
4            5          PILAS               25.0   30.0

In [16]:
# Se añade una columna para indicar la cantidad
df_inventario["Cantidad"] = [12, 15, 20, 30, 50]
df_inventario

   id producto         nombre  costo fabricacion  venta  Cantidad
0            1     CLAVOS 1/2                0.5    0.6        12
1            2       MARTILLO              200.0  300.0        15
2            3       SERRUCHO              300.0  400.0        20
3            4  TORNILLOS 1/4                0.6    0.8        30
4            5          PILAS               25.0   30.0        50

In [17]:
# Se añade una columna en el indice 2 para indicar el descuento
df_inventario.insert(2, "Descuento", [8, 5, 10, 12, 5])
df_inventario

   id producto         nombre  Descuento  costo fabricacion  venta  Cantidad
0            1     CLAVOS 1/2          8                0.5    0.6        12
1            2       MARTILLO          5              200.0  300.0        15
2            3       SERRUCHO         10              300.0  400.0        20
3            4  TORNILLOS 1/4         12                0.6    0.8        30
4            5          PILAS          5               25.0   30.0        50

In [18]:
# Se añade una columna con el mismo valor en todas las filas
df_inventario["En stock"] = True
df_inventario

,id producto,nombre,Descuento,costo fabricacion,venta,Cantidad,En stock
0,1,CLAVOS 1/2,8,0.5,0.6,12,True
1,2,MARTILLO,5,200.0,300.0,15,True
2,3,SERRUCHO,10,300.0,400.0,20,True
3,4,TORNILLOS 1/4,12,0.6,0.8,30,True
4,5,PILAS,5,25.0,30.0,50,True

In [19]:
# Se añade una columna creada a partir de otra columna multiplicada por un valor
df_inventario["Impuesto sobre la venta"] = df_inventario["venta"] * 0.10
df_inventario

,id producto,nombre,Descuento,costo fabricacion,venta,Cantidad,En stock,Impuesto sobre la venta
0,1,CLAVOS 1/2,8,0.5,0.6,12,True,0.06
1,2,MARTILLO,5,200.0,300.0,15,True,30.00
2,3,SERRUCHO,10,300.0,400.0,20,True,40.00
3,4,TORNILLOS 1/4,12,0.6,0.8,30,True,0.08
4,5,PILAS,5,25.0,30.0,50,True,3.00

In [20]:
# Se añade una columna creada a partir de otras columnas
df_inventario["Total"] = (df_inventario["venta"] + df_inventario["venta"] * df_inventario["Impuesto sobre la venta"]*
                          df_inventario["Cantidad"])
df_inventario

,id producto,nombre,Descuento,costo fabricacion,venta,Cantidad,En stock,Impuesto sobre la venta,Total
0,1,CLAVOS 1/2,8,0.5,0.6,12,True,0.06,1.032
1,2,MARTILLO,5,200.0,300.0,15,True,30.00,135300.000
2,3,SERRUCHO,10,300.0,400.0,20,True,40.00,320400.000
3,4,TORNILLOS 1/4,12,0.6,0.8,30,True,0.08,2.720
4,5,PILAS,5,25.0,30.0,50,True,3.00,4530.000