 # Proyecto #5 - Modiﬁcando DataFrames sobre un DataSet que Contiene el Inventario de Una Tienda de Jardinería

Eres el principal analista de datos de una cadena de tiendas de jardinería llamada Petal Power. Ayúdeles a analizar su inventario!

1. Los datos de todas las ubicaciones de Petal Power están en el archivo inventory. csv . Cargue los datos en un DataFrame llamado inventory

1. Los datos de todas las ubicaciones de Petal Power están en el archivo inventory. csv . Cargue los datos en un DataFrame llamado inventory

In [2]:
import pandas as pd

In [6]:
inventory = pd.read_csv("datax/inventory.csv")
inventory

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                 weed killer        74   23.0
1  Staten Island       planter               insect killer        48   36.0
2  Staten Island  pest_control                       spade        56   36.0
3       Brooklyn       planter                 wheelbarrow        73   23.0
4  Staten Island  garden tools                      tomato         3   56.0
5       Brooklyn  garden tools                        rake         6   56.0
6  Staten Island  pest_control                       daisy        18   56.0
7       Brooklyn  pest_control      8 inch plastic planter        49   27.0
8       Brooklyn         seeds                  calla lily        20   27.0
9  Staten Island       planter  20 inch terracotta planter        23   56.0

3.Las primeras 10 ﬁlas representan datos de su ubicación en Staten Island. Seleccione estas líneas y grábelas en staten_island.

In [7]:
staten_island = inventory[inventory["location"] == "Staten Island"]
staten_island

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                 weed killer        74   23.0
1  Staten Island       planter               insect killer        48   36.0
2  Staten Island  pest_control                       spade        56   36.0
4  Staten Island  garden tools                      tomato         3   56.0
6  Staten Island  pest_control                       daisy        18   56.0
9  Staten Island       planter  20 inch terracotta planter        23   56.0

4.Un cliente acaba de enviarle un correo electrónico preguntándole qué productos se venden en su localidad de Staten Island. Seleccione la columna product_description de staten_island y guárdela en la variable product_request.

In [8]:
product_request = inventory[[inventory["location"]=="Staten Island"]]["product_description"]

KeyError: "None of [Index([(True, True, True, False, True, False, True, False, False, True)], dtype='object')] are in the [columns]"

5.Otro cliente envía un correo electrónico para preguntar qué tipos de semillas se venden en la sede de Brooklyn. Seleccione todas las filas donde la location es igual a Brooklyn y el product_type es igual a las semillas seeds y guárdelas en la variable seed_request.

6. Añada una columna a un inventario inventory llamado in_stock que sea True si quantity es mayor que O y False if quantity es igual a 0.

7.Petal Power quiere saber cuán valioso es su inventario actual. Cree una columna llamada total_value que sea igual a price multiplicado por quantity.

8.El departamento de Marketing desea una descripción completa de cada producto para su catálogo. La siguiente función lambda combina el product_type y product description en una sola cadena:

combine_lambda = lambda row: \ '{) - ()'. format (row.product_type, row.product_description)

9. Utilizando combine_ lambda, cree una nueva columna en inventory llamada full_description que contenga la descripción completa de cada producto.