# Uso de funciones Lambda

In [1]:
sumar_dos = lambda entrada: entrada + 2

In [2]:
print(sumar_dos(3))

5

In [3]:
print(sumar_dos(100))

102

In [4]:
convertir_a_minuscula = lambda cadena: cadena.lower()

In [5]:
print(convertir_a_minuscula("Hello World"))

hello world

In [6]:
pagar_extra = lambda horas: 40 + (horas - 40) * 1.5 if horas > 40 else horas

In [7]:
print(pagar_extra(43))

44.5

In [8]:
print(pagar_extra(30))

30

# Usando lambdas en pandas

In [9]:
import pandas as pd

In [10]:
df_empleados = pd.read_csv("datax/empleados_correos.csv")
df_empleados

              Nombre                 email
0        José García  josegarcia@gmail.com
1  María Del Rosario         rox@gmail.com
2         Carolina G    carolina@gmail.com

In [12]:
# Ahora supongamos que queremos crear una columna que contenga el proveedor del email de cada email address
df_empleados["Proveedor email"] = df_empleados["email"].apply(
    lambda x: x.split("@")[-1]
)
df_empleados

              Nombre                 email Proveedor email
0        José García  josegarcia@gmail.com       gmail.com
1  María Del Rosario         rox@gmail.com       gmail.com
2         Carolina G    carolina@gmail.com       gmail.com

Tambien podemos hacer operaciones sobre multiples ﬁlas a la vez

● Si usamos apply sin especiﬁcar una columna y añadimos el argumento axis=1 el input a la funcion lambda sera la ﬁla completa no una columna.

● Recordemos quer para acceder a los valores de una ﬁla usamos la sintaxis row.colum_name o
    row[‘column_name’]

In [23]:
df_precios = pd.DataFrame([
    ["Manzana", 1.00, "No"],
    ["Leche", 4.20, "No"],
    ["Papel", 5.00, "Yes"],
    ["Bombilla", 3.75, "Yes"]
], columns=["Item", "Price", "Is_taxed"])
df_precios

       Item  Price Is_taxed
0   Manzana   1.00       No
1     Leche   4.20       No
2     Papel   5.00      Yes
3  Bombilla   3.75      Yes

● Queremos añadir el precio con los impuestos por cada ﬁla, necesitaremos revisar dos columnas: price e is_taxed?

● Si is_taxed es Yes, lo multiplicamos por 7.5% (1.075)

● Si is_taxed es No, dejamos el precio sin multiplicar

In [31]:
df_precios["Price with Tax"] = df_precios.apply(
    lambda row: row["Price"] * 1.075 if row['Is_taxed'] == "Yes" else row["Price"], axis=1
)
df_precios

       Item  Price Is_taxed  Price with Tax
0   Manzana   1.00       No         1.00000
1     Leche   4.20       No         4.20000
2     Papel   5.00      Yes         5.37500
3  Bombilla   3.75      Yes         4.03125

Usted esta manejando una pagina web de un juego que parece ser violento y usted quiere confirmar que los usuarios tienen 13 años o mas cuando visitan el sitio. Escriba un lambda que tome como input la edad y retorne Welcome to BattleCity! si el usuario tiene 13 años o mas. O retorne You
must be over 13 si el usuario es menor de 13. El lambda debe llamarse comprobar_edad

In [32]:
comprobar_edad = lambda edad: print("Welcome to BattleCity") if edad >= 13 else print("You must be over 13")

In [33]:
input_edad = 14
comprobar_edad(input_edad)

Welcome to BattleCity

In [34]:
input_edad = 12
comprobar_edad(input_edad)

You must be over 13

Cree una funcion lambda llamada get_last_name que toma un string con el nombre y apeelido de alguien (por ejemplo John Smith) y retorne solo el apellido (por ejemplo Smith )

In [37]:
get_last_name= lambda nombre_completo: nombre_completo.split(" ")[-1]

In [38]:
print(get_last_name("John Smith"))

Smith

Ahora tenemos el siguiente dataframe

In [39]:
df_empleados = pd.read_csv("datax/empleados_correos.csv")
df_empleados

              Nombre                 email
0        José García  josegarcia@gmail.com
1  María Del Rosario         rox@yahoo.com
2         Carolina G  carolina@hotmail.com

Usa la funcion lambda que acabas de crear  (get _last_name) para crear una nueva columna llamada last _name con solo el ultimo nombre de las filas del dataframe

In [42]:
df_empleados["last_name"]=df_empleados["Nombre"].apply(get_last_name)
df_empleados

              Nombre                 email last_name
0        José García  josegarcia@gmail.com    García
1  María Del Rosario         rox@yahoo.com   Rosario
2         Carolina G  carolina@hotmail.com         G