# Análisis de datos de Personas que han muerto en el monte everest

Crear las siguientes operaciones

* 1) Mostrar nombre y nacionalidad de aquellas personas que pertenecieron a United Kingdom. (nacionalidad)

* 2) Mostrar nombre y edad de aquellas personas cuya edad esté entre 18 y 21

* 3) Mostrar nombre y edad de las personas que no sean menores a los 50 años.

* 4) Mostrar nombre, edad y nacionalidad de las personas que tengan 25 años o que sean de nacionalidad mexicana (Mexican).

* 5) Pedir una letra. Mostrar nombre y causa de muerte de las personas cuyos nombres empiecen con esa letra.

* 6) Mostrar nombre y causa de muerte de todas las personas en orden ascendente según causa de muerte.

* 7) ¿Cuál es el nombre de la persona más joven que falleció en una expedición registrada?

* 8) ¿Cuál es la edad promedio de las personas que fallecieron en el conjunto de datos?

* 9) ¿Cuál fue la causa de muerte más común entre las personas fallecidas?

* 10) ¿Cuántas nacionalidades diferentes están representadas en el conjunto de datos?

In [1]:
import pandas as pd

In [2]:
muertes = pd.read_csv("datax/muertes_everest.csv")
muertes.head()

,Nombre,Fecha,Edad,Expedicion,Nacionalidad,Causa de muerte,Ubicación
0,Dorje,"June 7, 1922",20.0,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
1,Lhakpa,"June 7, 1922",20.0,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
2,Norbu,"June 7, 1922",20.0,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
3,Pasang,"June 7, 1922",20.0,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col
4,Pema,"June 7, 1922",20.0,1922 British Mount Everest Expedition,Nepal,Avalanche,Below North Col

In [3]:
muertes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nombre           310 non-null    object
 1   Fecha            310 non-null    object
 2   Edad             310 non-null    float64
 3   Expedicion       310 non-null    object
 4   Nacionalidad     310 non-null    object
 5   Causa de muerte  310 non-null    object
 6   Ubicación        310 non-null    object
dtypes: float64(1), object(6)
memory usage: 17.1+ KB

In [4]:
# Mostrar nombre y nacionalidad de aquellas personas que pertenecieron a United Kingdom. (nacionalidad).
britanicos = muertes[muertes["Nacionalidad"] == "United Kingdom"]
britanicos[["Nombre", "Nacionalidad"]].head(5)

            Nombre    Nacionalidad
9    Andrew Irvine  United Kingdom
10  George Mallory  United Kingdom
11  Maurice Wilson  United Kingdom
37      Mick Burke  United Kingdom
38  Terry Thompson  United Kingdom

In [5]:
britanicos[["Nombre", "Nacionalidad"]].count()

Nombre          18
Nacionalidad    18
dtype: int64

In [6]:
# Mostrar nombre y edad de aquellas personas cuya edad esté entre 18 y 21
personas18_a_21 = muertes[(muertes["Edad"] >= 18) & (muertes["Edad"] <= 21)]
personas18_a_21[["Nombre", "Edad"]].head(10)

                    Nombre  Edad
0                    Dorje  20.0
1                   Lhakpa  20.0
2                    Norbu  20.0
3                   Pasang  20.0
4                     Pema  20.0
5                    Sange  20.0
6                    Temba  20.0
7              Man Bahadur  20.0
8   Lance-Naik Shamsherpun  20.0
12            Dorje Mingma  20.0

In [7]:
personas18_a_21[["Nombre", "Edad"]].count()

Nombre    153
Edad      153
dtype: int64

In [8]:
# Mostrar nombre y edad de las personas que no sean menores a los 50 años. (negación pandas ~)
personas_no_menores_50 = muertes[~(muertes["Edad"] < 50)]
personas_no_menores_50[["Nombre", "Edad"]].head(10)

                      Nombre  Edad
70              Jozef Psotka  50.0
81           Simon Burkhardt  52.0
102         Andrzej Heinrich  51.0
103            Wacław Otręba  50.0
123              Karl Henize  66.0
128         Mike Rheinberger  53.0
177  Jan Krzysztof Liszewski  55.0
183            Nils Antezana  69.0
185                Shoko Ota  63.0
187                Sean Egan  63.0

In [9]:
# Mostrar nombre, edad y nacionalidad de las personas que tengan 25 años o 
# que sean de nacionalidad mexicana (Mexican).
mexicano_o_25 = muertes[(muertes["Nacionalidad"] == "Mexican") | (muertes["Edad"] == 25)]
mexicano_o_25[["Nombre", "Edad", "Nacionalidad"]]

                   Nombre  Edad Nacionalidad
274  Shiva Kumar Shrestha  25.0        Nepal
275       Unknown climber  20.0      Mexican
278         Phurba Sherpa  25.0        Nepal

In [10]:
# Pedir una letra. Mostrar nombre y causa de muerte de 
# las personas cuyos nombres empiecen con esa letra.
letra = input("Dame una letra: ").upper()
personas_letra = muertes[muertes["Nombre"].str.startswith(letra)]
personas_letra[["Nombre","Causa de muerte"]]

Dame una letra: c

                     Nombre                                    Causa de muerte
69             Craig Nottle                                               Fall
133             Chen Yu-Nan                               Injuries from a fall
156          Choi Byong-soo                                          Avalanche
252  Chhiring Ongchu Sherpa                       2014 Mount Everest Avalanche
266      Chhimi Dawa Sherpa  Base Camp avalanche following the April 2015 N...
277        Charles MacAdams                                      Cardiac event
294              Chris Daly  Died after a fall while trekking down from bas...
305  Christopher Jon Kulish                       Cardiac event during descent

In [11]:
# Mostrar nombre y causa de muerte de todas las personas en orden ascendente según causa de muerte.
muertes.sort_values(by='Causa de muerte')[["Nombre", "Causa de muerte"]].head(20)
# Mostrará primero a los que empiecen con un número

,Nombre,Causa de muerte
157,Sergei Arsentiev,100m fall
128,Mike Rheinberger,"150m fall. He showed signs of exhaustion, dehy..."
258,PemTenji Sherpa,2014 Mount Everest Avalanche
257,Ankaji Sherpa,2014 Mount Everest Avalanche
256,Pasang Karma Sherpa,2014 Mount Everest Avalanche
255,Phur Temba Sherpa,2014 Mount Everest Avalanche
254,Then Dorjee Sherpa,2014 Mount Everest Avalanche
253,Dorjee Khatri,2014 Mount Everest Avalanche
252,Chhiring Ongchu Sherpa,2014 Mount Everest Avalanche
251,Lapka Tenjing Sherpa,2014 Mount Everest Avalanche
250,Phurba Ongyal Sherpa,2014 Mount Everest Avalanche
249,Tenzing Chottar Sherpa,2014 Mount Everest Avalanche
248,Nima Sherpa,2014 Mount Everest Avalanche
247,Ang Tshiri Sherpa,2014 Mount Everest Avalanche
246,Dorji Sherpa,2014 Mount Everest Avalanche
245,Mingma Nuru Sherpa,2014 Mount Everest Avalanche
259,Aash Bahadur Gurung,2014 Mount Everest Avalanche
193,Tuk Bahadur Thapa Magar Sherpa,Altitude
285,Roland Yearwood,Altitude sickness
142,Reinhard Wlasich,Altitude sickness

In [12]:
# ¿Cuál es el nombre de la persona más joven que falleció en una expedición registrada?
# 1 Ordena el dataframe por la columna que contiene la edad de fallecimiento en orden ascendente.
# 2 Selecciona la primera fila de ese dataframe ordenado, que corresponderá a la persona más joven 
# que falleció.
muertes_ordenadas_por_edad = muertes.sort_values(by= "Edad")
persona_mas_joven = muertes_ordenadas_por_edad.iloc[0]
persona_mas_joven[["Nombre", "Edad"]]

Nombre    Pemba Sherpa
Edad              19.0
Name: 263, dtype: object

In [13]:
# ¿Cuál es la edad promedio de las personas que fallecieron en el conjunto de datos?

edad_promedio = muertes['Edad'].mean()
print(f"La edad promedio de las personas que fallecieron es {edad_promedio:.2f} años.")

La edad promedio de las personas que fallecieron es 30.51 años.

In [14]:
# ¿Cuál fue la causa de muerte más común entre las personas fallecidas?
# Contar las frecuencias de cada causa de muerte
causas_frecuencia = muertes['Causa de muerte'].value_counts()

# Obtener la causa de muerte más común
causa_mas_comun = causas_frecuencia.idxmax()

# Imprimir la causa de muerte más común
print(f"La causa de muerte más común es {causa_mas_comun} con {causas_frecuencia[causa_mas_comun]} casos.")

La causa de muerte más común es Avalanche con 50 casos.

In [15]:
# Otra forma
# Contar las frecuencias de cada causa de muerte
causas_frecuencia = muertes['Causa de muerte'].value_counts()
causas_frecuencia

Avalanche                                                            50
Fall                                                                 46
Exposure                                                             25
Altitude sickness                                                    17
Base Camp avalanche following the April 2015 Nepal earthquake        16
                                                                     ..
Pre-existing illness exacerbated by freezing conditions, altitude     1
Mountain sickness                                                     1
Snowboarding accident                                                 1
Sickness in tent                                                      1
Cardiac event during descent                                          1
Name: Causa de muerte, Length: 78, dtype: int64

In [16]:
print(causas_frecuencia.idxmax(), causas_frecuencia[0])

Avalanche 50

In [17]:
# ¿Cuántas nacionalidades diferentes están representadas en el conjunto de datos?
# Primero se muestran las nacionalidades
muertes.groupby("Nacionalidad").size()

Nacionalidad
Australia            8
Austria              3
Bangladesh           1
Belgium              1
Brazil               1
Bulgaria             3
Canada               6
Chile                1
China               11
Czech                2
Czechoslovakia       5
Denmark              2
France               6
Germany              7
Hungary              2
India               25
Ireland              3
Italy                3
Japan               19
Mexican              1
Nepal              117
Netherlands          1
New Zealand          3
North Macedonia      1
Poland               7
Russia               7
Slovakia             1
Slovenia             1
South Korea         11
Spain                4
Sweden               1
Switzerland          3
Taiwan               2
Ukraine              1
United Kingdom      18
United States       20
Yugoslavia           2
dtype: int64

In [18]:
# Se muestra el total de cada nacionalidad
muertes.groupby("Nacionalidad").ngroups

37