# Proyecto #4 - Corriendo Lambdas sobre un DataSet de Una Tienda de Zapatos

In [2]:
import pandas as pd

Accedamos a un nuevo dataFrame llamado shoeflys2.csv e importemoslo y asignemoslo a la variable orders y examine las primeras 5 filas

In [3]:
orders = pd.read_csv('datax/shoesfly2.csv')
orders

,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color
0,David,Williams,Female,jane.johnson@example.com,Sandals,Leather,Black
1,Michael,Smith,Female,jane.johnson@example.com,Sneakers,Leather,White
2,Emily,Davis,Female,emily.jones@example.com,Boots,Mesh,Green
3,Michael,Davis,Female,david.jones@example.com,Sandals,Synthetic,Brown
4,John,Smith,Male,john.johnson@example.com,Flats,Synthetic,Blue
...,...,...,...,...,...,...,...
95,John,Williams,Male,sarah.williams@example.com,Sneakers,Synthetic,Blue
96,Emily,Jones,Female,sarah.davis@example.com,Sandals,Synthetic,Red
97,Michael,Jones,Female,sarah.davis@example.com,Boots,Mesh,Green
98,Emily,Jones,Male,jane.johnson@example.com,Boots,Leather,Red
99,John,Johnson,Male,michael.davis@example.com,Sandals,Canvas,Red

Varios de nuestros clientes quieren comprar zapatos veganos (zapatos hechos con materials que no vienen de animales). Añada una nueva columna a este dataframe llamada shoe_source el cual será vegan si el material no es leather y animals de otra manera

In [5]:
orders["shoe_source"] = orders.apply(
    lambda row: "animals" if row['shoe_material'] == "Leather" else "vegan", axis=1
)
orders

,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,shoe_source
0,David,Williams,Female,jane.johnson@example.com,Sandals,Leather,Black,animals
1,Michael,Smith,Female,jane.johnson@example.com,Sneakers,Leather,White,animals
2,Emily,Davis,Female,emily.jones@example.com,Boots,Mesh,Green,vegan
3,Michael,Davis,Female,david.jones@example.com,Sandals,Synthetic,Brown,vegan
4,John,Smith,Male,john.johnson@example.com,Flats,Synthetic,Blue,vegan
...,...,...,...,...,...,...,...,...
95,John,Williams,Male,sarah.williams@example.com,Sneakers,Synthetic,Blue,vegan
96,Emily,Jones,Female,sarah.davis@example.com,Sandals,Synthetic,Red,vegan
97,Michael,Jones,Female,sarah.davis@example.com,Boots,Mesh,Green,vegan
98,Emily,Jones,Male,jane.johnson@example.com,Boots,Leather,Red,animals
99,John,Johnson,Male,michael.davis@example.com,Sandals,Canvas,Red,vegan

In [6]:
orders["shoe_source"] = orders['shoe_material'].apply(
    lambda material: "animals" if material == "Leather" else "vegan"
)
orders

,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,shoe_source
0,David,Williams,Female,jane.johnson@example.com,Sandals,Leather,Black,animals
1,Michael,Smith,Female,jane.johnson@example.com,Sneakers,Leather,White,animals
2,Emily,Davis,Female,emily.jones@example.com,Boots,Mesh,Green,vegan
3,Michael,Davis,Female,david.jones@example.com,Sandals,Synthetic,Brown,vegan
4,John,Smith,Male,john.johnson@example.com,Flats,Synthetic,Blue,vegan
...,...,...,...,...,...,...,...,...
95,John,Williams,Male,sarah.williams@example.com,Sneakers,Synthetic,Blue,vegan
96,Emily,Jones,Female,sarah.davis@example.com,Sandals,Synthetic,Red,vegan
97,Michael,Jones,Female,sarah.davis@example.com,Boots,Mesh,Green,vegan
98,Emily,Jones,Male,jane.johnson@example.com,Boots,Leather,Red,animals
99,John,Johnson,Male,michael.davis@example.com,Sandals,Canvas,Red,vegan

Nuestro departamento de marketing quiere enviar emails a cada consumidor. Usando la columna last _name y gender cree una columna llamada salutation el cual contiene el siguiente string Dear Mr. «last_name>> para saludar a los hombres y el string Dear Ms. ‹last_name> para saludar las mujeres.

In [8]:
orders["saludation"] = orders.apply(
    lambda row: "Dear Mr. " + row["last_name"] if row["gender"] == "Male" else "Dear Mrs. " + row["last_name"], axis=1
)
orders

,first_name,last_name,gender,email,shoe_type,shoe_material,shoe_color,shoe_source,saludation
0,David,Williams,Female,jane.johnson@example.com,Sandals,Leather,Black,animals,Dear Mrs. Williams
1,Michael,Smith,Female,jane.johnson@example.com,Sneakers,Leather,White,animals,Dear Mrs. Smith
2,Emily,Davis,Female,emily.jones@example.com,Boots,Mesh,Green,vegan,Dear Mrs. Davis
3,Michael,Davis,Female,david.jones@example.com,Sandals,Synthetic,Brown,vegan,Dear Mrs. Davis
4,John,Smith,Male,john.johnson@example.com,Flats,Synthetic,Blue,vegan,Dear Mr. Smith
...,...,...,...,...,...,...,...,...,...
95,John,Williams,Male,sarah.williams@example.com,Sneakers,Synthetic,Blue,vegan,Dear Mr. Williams
96,Emily,Jones,Female,sarah.davis@example.com,Sandals,Synthetic,Red,vegan,Dear Mrs. Jones
97,Michael,Jones,Female,sarah.davis@example.com,Boots,Mesh,Green,vegan,Dear Mrs. Jones
98,Emily,Jones,Male,jane.johnson@example.com,Boots,Leather,Red,animals,Dear Mr. Jones
99,John,Johnson,Male,michael.davis@example.com,Sandals,Canvas,Red,vegan,Dear Mr. Johnson