## Renombrando y borrando columnas

In [1]:
import pandas as pd

In [3]:
df_trabajadores = pd.read_csv("datax/trabajadores_edades.csv")
df_trabajadores

      name  age
0     John   23
1   Andrea   25
2  Juliana   33
3   Daniel   34

In [4]:
# Renombrar todas las columnas
df_trabajadores.columns = ["Nombre", "Edad"]
df_trabajadores

    Nombre  Edad
0     John    23
1   Andrea    25
2  Juliana    33
3   Daniel    34

In [5]:
# Renombrar columnas de forma individual
df_trabajadores.rename(columns={
    "Nombre": "Primer nombre"
}, inplace=True)
df_trabajadores

  Primer nombre  Edad
0          John    23
1        Andrea    25
2       Juliana    33
3        Daniel    34

In [6]:
# Borrar una columna
df_trabajadores.drop("Edad", axis=1, inplace=True)
df_trabajadores

  Primer nombre
0          John
1        Andrea
2       Juliana
3        Daniel

In [7]:
# Borrar varias columnas
# df_trabajadores.drop(["Nombre", "Edad"], axis=1, inplace=True)