## Modo normal

In [1]:
numbers = [1, 2, 3, 4, 5]
doubled_numbers = []
for num in numbers:
    doubled_number = num * 2
    doubled_numbers.append(doubled_number)
    
doubled_numbers

[2, 4, 6, 8, 10]

## Modo List Comprehension

In [2]:
numbers2 = [1, 2, 3, 4, 5]
doubled_numbers_2 = [num *2 for num in numbers2]
doubled_numbers_2

[2, 4, 6, 8, 10]

In [3]:
# More examples
name = "colt"
[char.upper() for char in name]

['C', 'O', 'L', 'T']

In [6]:
friends = ["ashley", "matt", "michael"]
[friend[0].upper() + friend[1:] for friend in friends]

['Ashley', 'Matt', 'Michael']

In [8]:
[num * 10 for num in range(1,6)]

[10, 20, 30, 40, 50]

In [9]:
[bool(val) for val in [0, [], '', 1]]

[False, False, False, True]

In [10]:
numbers3 = [1, 2, 3, 4, 5]
string_list = [str(num) for num in numbers3]
string_list

['1', '2', '3', '4', '5']

In [11]:
colors = ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]

In [12]:
[color.upper() for color in colors]

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE', 'INDIGO', 'VIOLET']

In [13]:
["Color: "+ color for color in colors]

['Color: red',
 'Color: orange',
 'Color: yellow',
 'Color: green',
 'Color: blue',
 'Color: indigo',
 'Color: violet']

In [14]:
list2 = [item for item in range(1,6)]
list2

[1, 2, 3, 4, 5]

In [16]:
list3 = [item ** 3 for item in range(1,6)]
list3

[1, 8, 27, 64, 125]

In [18]:
list4 = [item for item in range(1,11) if item % 2 == 0]
list4

[2, 4, 6, 8, 10]

In [20]:
cubes = [(x, x ** 3) for x in range(1,6)]
cubes

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]