In [3]:
lista = [1,2,3,4,5]

In [4]:
lista + [6,7]

[1, 2, 3, 4, 5, 6, 7]

In [5]:
lista

[1, 2, 3, 4, 5]

In [6]:
lista = lista + [6,7]

In [7]:
lista

[1, 2, 3, 4, 5, 6, 7]

In [11]:
lista * 2

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
lista.append(8)

In [10]:
lista

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
lista.append("luis")

In [13]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 'luis']

In [14]:
lista.append([2.1, 2.3, 2.5])

In [15]:
lista

[1, 2, 3, 4, 5, 6, 7, 8, 'luis', [2.1, 2.3, 2.5]]

In [17]:
lista.extend([20, 30])
lista

[1, 2, 3, 4, 5, 6, 7, 8, 'luis', [2.1, 2.3, 2.5], 20, 30, 20, 30]

In [18]:
lista.remove(8)
lista.remove(4)
lista

[1, 2, 3, 5, 6, 7, 'luis', [2.1, 2.3, 2.5], 20, 30, 20, 30]

## Appending to a List with +=

In [1]:
a_list = []

In [2]:
for number in range(1,6):
    a_list += [number]

In [3]:
a_list

[1, 2, 3, 4, 5]

In [4]:
letters = []

In [5]:
letters += "Python"

In [6]:
letters

['P', 'y', 't', 'h', 'o', 'n']

## Concatenating Lists with +

In [8]:
list1 = [10, 20, 30]
list2 = [40, 50]

In [9]:
concatenated_list = list1 + list2
concatenated_list

[10, 20, 30, 40, 50]

## Using a `for` and `range` to access list indices and values

In [10]:
for i in range (len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

## Comparison Operators

In [11]:
a = [1, 2, 3]
b = [1, 2, 3]
c = [1, 2, 3, 4]

In [12]:
a == b

True

In [13]:
a == c

False

In [14]:
a < c

True

In [15]:
c >= b

True

### Create a function `cube_list` that cubes each element of a list. Call the function with the list `numbers` containing 1 through 10. Show `numbers` after the call

In [16]:
def cube_list(values):
    for i in range(len(values)):
        values[i] **= 3

In [23]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
cube_list(numbers)

In [27]:
numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]