## Create tuples

In [2]:
student_tuple = ()

In [3]:
student_tuple

()

In [4]:
len(student_tuple)

0

In [5]:
student_tuple = "John", "Green", 3.3

In [6]:
student_tuple

('John', 'Green', 3.3)

In [7]:
len(student_tuple)

3

In [8]:
another_student_tuple = ("Mary", "Red", 3.3)

In [9]:
another_student_tuple

('Mary', 'Red', 3.3)

In [11]:
a_singleton_tuple = ("red",)

In [12]:
a_singleton_tuple

('red',)

## Accessing tuple elements

In [14]:
time_tuple = (9, 16, 1)

In [15]:
time_tuple

(9, 16, 1)

In [16]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

## Adding items to a string or tuple

In [17]:
tuple1 = (10,20,30)

In [18]:
tuple2 = tuple1

In [19]:
tuple2

(10, 20, 30)

In [20]:
tuple1 += (40, 50)

In [21]:
tuple1

(10, 20, 30, 40, 50)

In [22]:
tuple2

(10, 20, 30)

## Appending tuples to lists

In [23]:
numbers = [1, 2, 3, 4, 5]

In [24]:
numbers += (6,7)

In [25]:
numbers

[1, 2, 3, 4, 5, 6, 7]

## Tuples may contain mutable objects

In [26]:
student_tuple =("Amanda", "Blue", [98, 75, 87])

In [27]:
student_tuple[2][1] = 85

In [28]:
student_tuple

('Amanda', 'Blue', [98, 85, 87])